body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background: url('assets/fondo.jpg') no-repeat center center/cover;
    overflow: hidden;
    /**
    linear-gradient(135deg, 
        rgba(34, 139, 34, 0.7) 25%,   /* Verde oscuro con opacidad */
       /* rgba(220, 20, 60, 0.7) 50%,  /* Rojo cereza con opacidad */
      /*  rgba(255, 223, 186, 0.7) 75% /* Dorado claro */
    
    /*);*/
    
}

h1 {
    font-size: 5em;
}

p {
    font-size: 1.5em;
}

.screen {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.screen.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

button {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    cursor: pointer;
    margin: 10px;
    margin-top: 60px;
}

button:hover {
    background: rgba(0, 0, 0, 0.7);
}

input {
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 25px;
    border: 2px solid #ffffff; /* Borde blanco para que resalte */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo suave */
    color: #333333; /* Color del texto para que sea legible */
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease;
}

input:focus {
    border-color: rgb(158, 0, 0); /* Borde rojo oscuro */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo más claro al hacer foco */
    box-shadow: 0 0 8px rgba(158, 0, 0, 0.7); /* Sombra roja cuando está enfocado */
    outline: none; /* Eliminar el contorno predeterminado */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: 10;
}

.images-container h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.images-container {
    text-align: center;
    margin-top: 50px;
    z-index: 1;
    opacity: 1;
}

.entrada {
    width: 40%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image.show {
    opacity: 1;
    transform: scale(1);
}

#answer-input {
    position: relative;
    z-index: 10;
}

.intro-content > div {
    /* El texto este en el centro y, como que no llegue a los extremos de la web, y tenga un tamaño de letra mayor*/
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 1.5em;

}


.hidden {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.visible {
    opacity: 1;
    transform: scale(1);
}

/* Partículas */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Las partículas están al fondo */
    pointer-events: none; /* Las partículas no interfieren con los clics */
}
