body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background: url('assets/fondo.jpg') no-repeat center center;
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
    height: 100%; /* Asegura que el body ocupe el 100% de la altura de la pantalla */
    min-height: 100vh; /* Garantiza que al menos ocupe toda la altura de la ventana */
    margin: 0; /* Elimina márgenes del body */
    overflow: hidden; /* Evita que haya scroll horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 1.5em;
}


.screen {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.screen.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
}

button {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    cursor: pointer;
    margin: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
}

button:hover {
    background: rgba(0, 0, 0, 0.7);
}

input {
    padding: 12px 20px;
    font-size: 1.2em;
    border-radius: 25px;
    border: 2px solid #ffffff; /* Borde blanco para que resalte */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo suave */
    color: #333333; /* Color del texto para que sea legible */
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease;
}

input:focus {
    border-color: rgb(158, 0, 0); /* Borde rojo oscuro */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo más claro al hacer foco */
    box-shadow: 0 0 8px rgba(158, 0, 0, 0.7); /* Sombra roja cuando está enfocado */
    outline: none; /* Eliminar el contorno predeterminado */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: 10;
}

#images-container h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

#images-container {
    text-align: center;
    margin-top: 50px;
    z-index: 1;
    opacity: 1;
}

.entrada {
    width: 40%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: pump 1.5s infinite;  /* Aplicar la animación */
}

/* Animación de bombeo */
@keyframes pump {
    0% {
        transform: scale(1);  /* Tamaño original */
    }
    30% {
        transform: scale(1.02);  /* Aumento de tamaño */
    }
    50% {
        transform: scale(1);  /* Vuelve al tamaño original */
    }
    70% {
        transform: scale(1.02);  /* Aumento de tamaño */
    }
    100% {
        transform: scale(1);  /* Tamaño original */
    }
}

.screen {
    display: none;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    60% {
        opacity: 1;
        transform: translateY(-5px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

  #countdown-screen #countdown {
    font-size: 12em;
    font-weight: bold;
    color: #FF5C8D;  /* Color llamativo para el número de la cuenta atrás */
    margin-top: 20px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    animation: countdown-animation 1s ease-in-out infinite;
  }
  
  /* Animación de la cuenta atrás */
  @keyframes countdown-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

.image.show {
    opacity: 1;
    transform: scale(1);
}

#answer-input {
    position: relative;
    z-index: 10;
}

.intro-content > div {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}


.hidden {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity 2s linear;
}

/* Partículas */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Las partículas están al fondo */
    pointer-events: none; /* Las partículas no interfieren con los clics */
}

.message-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0; /* Asegura que esté en la parte superior */
    left: 50%;
    transform: translateX(-50%); /* Centrado exacto horizontal */
    width: 100%;
    z-index: 1000;
  }
  
/* Estilo general del mensaje */
.message-fail {
    display: none; /* Oculto por defecto */
    background-color: #ff4c4c; /* Fondo rojo brillante */
    margin-top: 100px;
    color: white; /* Texto blanco */
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px); /* Desplazado hacia arriba */
    transition: opacity 0.5s, transform 0.5s; /* Transiciones suaves */
  }
  
/* Animación y activación del mensaje */
.message-fail.active {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(-10px); /* Efecto de rebote */
    bottom: 40px;
  }
  
  /* Efecto divertido con rebote */
  .message-fail.active {
    animation: bounce 0.5s ease-out;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(0.8) translateY(10px);
    }
    50% {
      transform: scale(1.1) translateY(-10px);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }


  /** Si el tamaño es pequeño, se permite el scroll **/
@media (max-width: 768px) {
    body {
        overflow: auto;
    }
    .screen {
        height: auto;
    }
    .input-group {
        width: 80%;
    }
    #images-container {
        width: 80%;
    }
    .entrada {
        width: 80%;
    }
    .intro-content > div {
        max-width: 100%;
    }
    .message-container {
        margin-top: 50px;
    }
}